body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
header{
    padding: 1.5rem;
    background-color: #023854;
}
header h1{
    display: none;
}
header .form{
    display: none;
}
.white-logo{
    width: 17rem;
}
header{
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
}
header nav a{
    text-align: right;
    padding: .25rem;
}
.header-nav{
    float: right;
}
.header-nav{
    display: block;
    margin-top: 70px;
    margin-bottom: 10px;
}
.header-nav a{
    display: block;
    text-decoration: none;
    color: #fff;
}
.header-nav a.current-page{
    color: #a02843;
}
.header-nav a:hover{
    text-decoration: underline;
}
.wwd{
    background-color: #fff;
}
.wwd h2{
    color: #a02843;
    font-family: 'Bebas Neue';
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wwd img{
    width: 10rem;
    margin: .75rem;
}
.wwd a{
    font-family: 'Lato';
    text-decoration: none;
}
.wwd a{
    padding: .75rem .5rem;
    background-color: #023854;
    color: #fff
}
.wwd a:hover{
    text-decoration: underline;
}
.wwd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wwd-title{
    grid-area: 1/1/2/3;
}
.wwd-kitchen-img{
    grid-area: 2/1/3/2;
    justify-self: center;
}
.wwd-kitchen-a{
    grid-area: 3/1/4/2;
    margin: 0 4rem;
}
.wwd-bathroom-img{
    grid-area: 2/2/3/3;
    justify-self: center;
    align-self: center;
}
.wwd-bathroom-a{
    grid-area: 3/2/4/3;
    margin: 0 3.5rem;
}
.wwd-basement-img{
    grid-area: 4/1/5/2;
    justify-self: center;
    align-self: center;
}
.wwd-basement-a{
    grid-area: 5/1/6/2;
    margin: 0 3.5rem;
}
.wwd-addition-img{
    grid-area: 4/2/5/3;
    justify-self: center;
    align-self: center;
}
.wwd-addition-a{
    grid-area: 5/2/6/3;
    margin: 0 4rem;
}
.wwd-custom-img{
    grid-area: 6/1/7/3;
    justify-self: center;
    align-self: center;
}
.wwd-custom-a{
    grid-area: 7/1/8/3;
    margin: 0 9rem;
}
.check-out{
    position: relative;
    height: 350px;
}
.check-out{
    font-family: 'Lato';
    background-image: url(Images/check-out-portfolio-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100%;
    padding: 1rem;
}
.check-out{
    display: grid;
    padding: 2rem 0 3rem 0;
}
.check-out h2{
    color: #023854;
    margin: 2rem 4rem;
    font-size: 3.5rem;
    display: grid;
}
.check-out a{
    text-decoration: none;
    color: #fff;
    margin: 4rem 2rem 8rem 2rem;
    padding: .75rem 1.25rem;
    background-color: #a02843;
    font-size: 1.25rem;
    display: grid;
}
.check-out a{
    position: absolute;
    right: 0;
    top: 70%;
}
.check-out a:hover{
    text-decoration: underline;
}
.ready-to-start{
    background-color: #023854;
    color: #fff;
    font-family: 'Lato';
    padding: 1rem;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
}
.ready-to-start h2{
    font-size: 3rem;
    justify-self: center;
}
.ready-to-start a{
    color: #fff;
    text-decoration: none;
    padding: 1rem 4rem;
    background-color: #a02843;
    margin: 1rem auto;
    display: inline-block;
    width: 195px;
}
.ready-to-start a:hover{
    text-decoration: underline;
}
.lets-connect{
    font-family: 'Lato';
    background-color: #a02843;
    margin: 1.5rem 2.5rem;
}
.lets-connect h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: .25rem;
}
.lets-connect form{
    background-color: #fff;
    border: .25px solid #000;
    margin: 1rem 2rem;
    color: #023854;
}
.lets-connect h4{
    color: #a02843;
    text-align: center;
    font-size: 1.25rem;
    margin: .75rem;
}
.lets-connect form{
    display: grid;
    grid-template-columns: auto;
    padding: 1rem 2rem;
}
.lets-connect label{
    font-size: 1rem;
    font-weight: 550;
    margin: .5rem;
}
.lets-connect input{
    background-color: #c6c4c4;
}
input#message{
    height: 200px;
}
input[type='submit']{
    background-color: #023854;
    color: #fff;
    padding: 1rem 2rem;
    border: .25px solid #000;
    margin: 1rem 2rem;
    cursor: pointer;
    text-transform: uppercase;
    
}
input[type='submit']:hover{
    background-color: #011118;
    text-decoration: underline;
}
footer{
    font-family: 'Lato';
    display: grid;
}
footer img{
    justify-self: center;
    align-self: center;
    width: 400px;
}
.socials{
    color: #023854;
    border: 3px solid #023854;
    margin: 3rem;
    padding: 1rem 2rem;
    justify-self: center;
}
.socials p{
    text-align: center;
    font-weight: 700;
}
.socials img{
    display: inline-flex;
    width: 100px;
    align-content: center;
    justify-content: center;
}
.contact-info{
    font-family: 'Lato';
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0 8rem;
}
.contact-info img{
    width: 50px;
}
.contact-info a, .contact-info p{
    color: #023854;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    align-content: center;
}
footer>.copyright{
    background-color: #a02843;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
.story{
    margin: 1rem 2.5rem;
    display: grid;
}
.story h2{
    font-family: 'Bebas Neue';
    color: #a02843;
    font-size: 2.5rem;
    text-align: center;
    margin: .5rem;
}
.story p{
    font-family: 'Lato';
    color: #023854;
    text-align: center;
    font-weight: 600;
}
.story img{
    width: 300px;
    justify-self: center;
}
.why-remodel img{
    display: none;
}
.why-remodel{
    background-color: #c6c4c4;
    padding: 1rem;
}
.why-remodel h2{
    font-family: 'Bebas Neue';
    color: #023854;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 4rem;
}
.why-remodel p{
    font-family: 'Lato';
    color: #fff;
    text-align: left;
    margin: 2rem;
    padding: 2rem;
    background-color: #a02843;
}
.testimonials{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .25rem;
    margin: 0 1.5rem;
    text-align: center;
}
.testimonials h2{
    font-family: 'Bebas Neue';
    color: #a02843;
    font-size: 2.5rem;
    text-align: center;
}
.testimonials h3, .testimonials h4{
    font-family: 'Lato';
    color: #023854;
}
.testimonials h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}
.testimonials h4{
    font-style: italic;
    margin: 0;
}
.testimonials img{
    width: 180px;
    justify-self: center;
    align-self: center;
    margin: 0;
}
.testimonials p{
    font-family: 'Lato';
    color: #fff;
    padding: 2rem 1.5rem;
    background-color: #023854;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    justify-self: center;
    align-self: center;
}
.testimonial-title{
    grid-area: 1/1/2/3;
}
.ed-linda-photo{
    grid-area: 2/1/3/2;
}
.ed-linda{
    grid-area: 3/1/4/2;
    align-self: center;
}
.muskego{
    grid-area: 4/1/5/2;
    align-self: start;
}
.testimonial-ed-linda{
    grid-area: 2/2/5/3;
}
.testimonial-nancy{
    grid-area: 5/1/8/2;
}
.nancy-photo{
    grid-area: 5/2/6/3;
}
.nancy{
    grid-area: 6/2/7/3;
    align-self: center;
}
.waukesha{
    grid-area: 7/2/8/3;
    align-self: start;
}
.employment{
    background-color: #a02843;
    padding: 1rem;
}
.employment h2{
    font-family: 'Bebas Neue';
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}
.employment-ps{
    font-family: 'Lato';
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 2rem;
    background-color: #023854;
    margin: 1rem;
}
.employment a{
    font-family: 'Lato';
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    color: #023854;
    padding: 1rem 2rem;
    background-color: #fff;
    display: grid;
    justify-self: center;
    margin: 0 6.5rem;
}
.employment a:hover{
    text-decoration: underline;
}
.check-out{
    position: relative;
    height: 350px;
}
.view-our{
    font-family: 'Lato';
    background-image: url(Images/view-our-blue-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100%;
    padding: 1rem;
}
.view-our{
    display: grid;
    padding: 2rem 0 1rem 0;
}
.view-our h2{
    color: #fff;
    margin: 0 4rem;
    font-size: 3.5rem;
    display: grid;
}
.view-our a{
    text-decoration: none;
    color: #fff;
    margin: 2rem;
    padding: .75rem 1.25rem;
    background-color: #a02843;
    font-size: 1.25rem;
    width: 175px;
    text-align: center;
    justify-self: right;
}
.view-our a:hover{
    text-decoration: underline;
}
.our-process{
    display: grid;
}
.our-process h2{
    font-family: 'Bebas Neue';
    color: #023854;
    text-align: center;
    font-size: 2.75rem;
    margin: 2rem 0 0 0;
}
.our-process h3{
    font-family: 'Lato';
    color: #a02843;
    text-align: center;
    font-style: italic;
    font-size: 1.75rem;
    margin-top: 1rem;
}
.our-process img{
    width: 200px;
    justify-self: center;
    align-self: center;
    margin-top: 1rem;
}
.our-process h4{
    font-family: 'Bebas Neue';
    color: #023854;
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
}
.our-process p{
    font-family: 'Lato';
    color: #fff;
    text-align: left;
    font-size: .85rem;
    margin: 0 3rem;
    padding: 1.5rem;
    background-color: #023854;
}
.services{
    display: grid;
}
.services h2{
    font-family: 'Bebas Neue';
    color: #a02843;
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 0;
}
.services h3{
    font-family: 'Lato';
    text-align: center;
    font-size: 1.75rem;
}
.services p{
    font-family: 'Lato';
    text-align: left;
    font-size: .85rem;
}
.kitchens{
    margin: 2rem;
    padding: 1.5rem;
    background-color: #023854;
    color: #fff;
}
.bathrooms{
    margin: 2rem;
    padding: 1.5rem;
    background-color: #023854;
    color: #fff;
}
.basements{
    margin: 2rem;
    padding: 1.5rem;
    background-color: #023854;
    color: #fff;
}
.additions{
    margin: 2rem;
    padding: 1.5rem;
    background-color: #023854;
    color: #fff;
}
.custom-countertops{
    margin: 2rem;
    padding: 1.5rem;
    background-color: #023854;
    color: #fff;
}
.portfolio-page{
    display: grid;
}
.kitchen-portfolio, .bathroom-portfolio, .basement-portfolio, .addition-portfolio, .countertops-portfolio{
    display: grid;
}
.portfolio-page h2{
    font-family: 'Bebas Neue';
    color: #a02843;
    text-align: center;
    font-size: 2.75rem;
    margin-bottom: 0;
}
.portfolio-page h4{
    font-family: 'Lato';
    color: #fff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 1rem 2rem;
    padding: 1rem;
    background-color: #023854;
}
.portfolio-page img{
    display: grid;
    max-width: 90%;
    justify-self: center;
    align-self: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: .75rem;
}
.portfolio-page h4{
    margin-top: 3rem;
}
.kitchen-portfolio h4{
    margin-top: 1rem;
}
@media (min-width:900px){
    .header-image{
        display: none;
    }
    header{
        padding: 1.25rem;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .home-header{
        background-image: url(Images/home-blue-photo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-height: 100%;
        height: 500px;
        padding: 4rem;
    }
    .white-logo{
        grid-area: 1/1/2/4;
        width: 28rem;
        margin: 0;
        justify-self: center;
        align-self: center;
    }
    .header-nav{
        float: none;
        display: grid;
        grid-template-columns: repeat(5, auto);
        gap: 20px;
        margin-top: 0;
        margin-bottom: 0;
        grid-area: 1/4/2/9;
        align-self: center;
        justify-self: right;
    }
    header nav a{
        font-size: 1.45rem;
    }
    .header-nav a.current-page{
        color: #fff;
    }
    header h1{
        display: grid;
        color: #fff;
    }
    .home-header h1{
        grid-area: 2/1/3/6;
        font-size: 7rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-bottom: 1rem;
        line-height: 6.5rem;
    }
    header .form{
        display: grid;
    }
    .form{
        grid-area: 3/1/5/4;
        font-family: 'Lato';
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 1rem 2rem;
        background-color: #a02843;
        text-align: center;
        justify-self: center;
        align-self: center;
    }
    header a:hover{
        text-decoration: underline;
    }
    .wwd{
        grid-template-columns: repeat(6, 1fr);
        padding: 1rem;
    }
    .wwd h2{
        font-size: 3.5rem;
    }
    .wwd-title{
        grid-area: 1/2/2/6;
        margin-bottom: .5rem;
    }
    .wwd img{
        width: 16rem;
        margin: 1rem;
    }
    .wwd-kitchen-img{
        grid-area: 2/1/3/3;
        width: 16rem;
    }
    .wwd-kitchen-a{
        grid-area: 3/1/4/3;
    }
    .wwd-bathroom-img{
        grid-area: 2/3/3/5;
        width: 16rem;
    }
    .wwd-bathroom-a{
        grid-area: 3/3/4/5;
    }
    .wwd-basement-img{
        grid-area: 2/5/3/7;
        width: 16rem;
    }
    .wwd-basement-a{
        grid-area: 3/5/4/7;
    }
    .wwd-addition-img{
        grid-area: 4/2/5/4;
    }
    .wwd-addition-a{
        grid-area: 5/2/6/4;
    }
    .wwd-custom-img{
        grid-area: 4/4/5/6;
    }
    .wwd-custom-a{
        display: grid;
        grid-area: 5/4/6/6;
        margin: 0;
    }
    .wwd a{
        font-size: 1.25rem;
    }
    .check-out{
        height: 500px;
    }
    .check-out h2{
        font-size: 6rem;
        line-height: 5.5rem;
        font-weight: 800;
        margin-left: 6rem;
        margin-top: 4rem;
    }
    .check-out a{
        font-size: 1.75rem;
        font-weight: 700;
        padding: 1rem 3rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }
    .ready-to-start h2{
        font-size: 4.5rem;
        margin: 2rem 0;
    }
    .ready-to-start a{
        font-size: 1.4rem;
        font-weight: 600;
        width: 275px;
    }
    .lets-connect{
        margin: 1rem 6rem;
    }
    .lets-connect h4{
        text-align: left;
        font-size: 1.25rem;
        margin: 0;
    }
    .lets-connect label{
        margin-left: 0;
    }
    input[type='submit']{
        font-size: 1rem;
        margin-right: 0;
        margin-left: 30rem;
        margin-bottom: 0;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr .15fr 0 0;
        height: 200px;
    }
    .footer-logo{
        grid-area: 1/1/2/3;
        width: 600px;
        margin-top: 2rem;
    }
    .contact-info{
        grid-area: 2/1/3/2;
        font-size: 1.25rem;
        margin: 3rem 1rem 2rem 3rem;
    }
    .contact-info img{
        width: 3rem;
    }
    .socials{
        grid-area: 2/2/3/3;
        margin: 1rem;
    }
    .copyright{
        display: grid;
    }
    footer>.copyright{
        grid-area: 3/1/3/3;
        margin-bottom: 0;
        padding: 1rem;
    }
    .about-us-header{
        background-image: url(Images/about-us-blue-photo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-height: 100%;
        height: 450px;
        padding: 1rem 4rem 4rem 4rem;
    }
    .about-us-header h1{
        grid-area: 2/1/3/6;
        font-size: 7rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-bottom: 1rem;
        line-height: 6.5rem;
        align-self: end;
    }
    .our-process-header{
        background-image: url(Images/our-process-blue-photo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-height: 100%;
        height: 500px;
        padding: 1rem 4rem 4rem 4rem;
    }
    .our-process-header h1{
        grid-area: 2/1/3/6;
        font-size: 7rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-bottom: 1rem;
        line-height: 6.5rem;
        align-self: end;
    }
    .services-header{
        background-image: url(Images/services-blue-photo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-height: 100%;
        height: 500px;
        padding: 1rem 4rem 4rem 4rem;
    }
    .services-header h1{
        grid-area: 2/1/3/6;
        font-size: 7rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-bottom: 1rem;
        line-height: 6.5rem;
        align-self: end;
    }
    .portfolio-header{
        background-image: url(Images/portfolio-blue-photo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        max-height: 100%;
        height: 500px;
        padding: 1rem 4rem 4rem 4rem;
    }
    .portfolio-header h1{
        grid-area: 2/1/3/6;
        font-size: 7rem;
        font-weight: 500;
        margin-top: 3rem;
        margin-bottom: 1rem;
        line-height: 6.5rem;
        align-self: end;
    }
    .story{
        grid-template-columns: 2fr 1.5fr;
    }
    .story h2{
        grid-area: 1/1/2/2;
        font-size: 3rem;
    }
    .story img{
        grid-area: 1/2/4/3;
        align-self: center;
        width: 350px;
        margin: 1rem;
    }
    .story p{
        font-size: .95rem;
        text-align: left;
        margin-left: 1rem;
        margin-top: 0;
        margin-right: 1rem;
    }
    .why-remodel{
        display: grid;
    }
    .why-remodel img{
        display: grid;
        max-width: 100%;
        width: 715px;
        margin: 0 2rem 0 2rem;
        padding: 2rem;
        background-color: #a02843;
        justify-self: center;
    }
    .why-remodel p{
        margin: 0 2rem 2rem 2rem;
        padding: 0 2rem 2rem 2rem;
        width: 715px;
        font-size: .95rem;
        text-align: center;
        justify-self: center;
    }
    .testimonials p{
        font-size: 1.15rem;
        font-weight: 600;
    }
    .testimonials{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .testimonials img{
        width: 250px;
        margin-bottom: 1rem;
    }
    .testimonial-title{
        grid-area: 1/1/2/4;
    }
    .testimonial-ed-linda{
        grid-area: 2/2/3/4;
        margin: 0;
    }
    .ed-linda-photo{
        grid-area: 2/1/5/2;
    }
    .ed-linda{
        grid-area: 3/2/4/4;
    }
    .muskego{
        grid-area: 4/2/5/4;
    }
    .testimonial-nancy{
        grid-area: 5/1/6/3;
    }
    .nancy-photo{
        grid-area: 5/3/8/4;
    }
    .nancy{
        grid-area: 6/1/7/3;
    }
    .waukesha{
        grid-area: 7/1/8/3;
    }
    .employment{
        padding: 2rem;
    }
    .employment h2{
        margin: 0;
    }
    .employment a{
        margin: 2rem 15rem;
    }
    .view-our{
        height: 350px;
    }
    .our-process{
        grid-template-columns: repeat(3, 1fr);
    }
    .our-process h2{
        display: none;
    }
    .our-process h3{
        font-size: 2.5rem;
        grid-area: 1/1/2/4; 
    }
    .design-icon{
        grid-area: 2/1/3/2;
    }
    .build-icon{
        grid-area: 2/2/3/3;
    }
    .love-icon{
        grid-area: 2/3/3/4;
    }
    .design-h4{
        grid-area: 3/1/4/2;
    }
    .build-h4{
        grid-area: 3/2/4/3;
    }
    .love-h4{
        grid-area: 3/3/4/4;
    }
    .our-process p{
        margin: 0 1.5rem;
    }
    .view-our{
        height: 500px;
    }
    .view-our h2{
        font-size: 5rem;
        line-height: 5.5rem;
        font-weight: 800;
        margin-left: 6rem;
        margin-top: 4rem;
    }
    .view-our a{
        font-size: 2rem;
        font-weight: 700;
        padding: 1rem 3rem;
        margin: 5rem;
        align-self: center;
        width: 250px;
    }
    .services{
        display: grid;
    }
    .kitchens{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }
    .kitchens img{
        grid-area: 1/2/3/3;
        align-self: center;
        margin: .5rem;
    }
    .kitchens p{
        margin: 1rem 1rem 1rem 0;
        text-align: center;
    }
    .kitchens h3{
        margin-bottom: 0;
    }
    .bathrooms{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
    }
    .bathrooms img{
        grid-area: 1/1/3/2;
        align-self: center;
        margin: .5rem;
    }
    .bathrooms p{
        grid-area: 2/2/3/3;
        margin: 1rem 1rem 1rem 2rem;
        text-align: center;
        font-size: 1rem;
    }
    .bathrooms h3{
        margin-bottom: 0;
    }
    .basements{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }
    .basements img{
        grid-area: 1/2/3/3;
        align-self: center;
        margin: .5rem;
    }
    .basements p{
        margin: 1rem 1rem 1rem 0;
        text-align: center;
        font-size: 1rem;
    }
    .basements h3{
        margin-bottom: 0;
    }
    .additions{
        display: grid;
        grid-template-columns: 2fr 1.5fr;
    }
    .additions img{
        grid-area: 1/1/3/2;
        align-self: center;
        margin: 1rem 0 0 0;
    }
    .additions p{
        margin: 1rem 0 1rem 1.5rem;
        text-align: center;
        font-size: .75rem;
    }
    .additions h3{
        margin-bottom: 0;
    }
    .custom-countertops{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .custom-countertops img{
        grid-area: 1/2/4/3;
        align-self: center;
        margin: 1rem 1rem 1rem 0;
    }
    .custom-countertops h3{
        margin-bottom: 0;
        margin-top: 0;
    }
    .custom-countertops p{
        text-align: center;
        font-size: .65rem;
        margin: 1rem 1.5rem 0 0;
    }
    .portfolio-page img{
        margin: 1rem;
    }
    .portfolio-page h4{
        margin: 2rem 12rem 0 12rem;
    }
}