body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
header{
    padding: 1.5rem;
    background-color: #023854;
}
header h1{
    display: none;
}
header .form{
    display: none;
}
.white-logo{
    width: 17rem;
}
header{
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
}
header nav a{
    text-align: right;
    padding: .25rem;
}
.header-nav{
    float: right;
}
.header-nav{
    display: block;
    margin-top: 70px;
    margin-bottom: 10px;
}
.header-nav a{
    display: block;
    text-decoration: none;
    color: #fff;
}
.header-nav a.current-page{
    color: #a02843;
}
.header-nav a:hover{
    text-decoration: underline;
}
.wwd{
    background-color: #fff;
}
.wwd h2{
    color: #a02843;
    font-family: 'Bebas Neue';
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wwd img{
    width: 10rem;
    margin: .75rem;
}
.wwd a{
    font-family: 'Lato';
    text-decoration: none;
}
.wwd a{
    padding: .75rem .5rem;
    background-color: #023854;
    color: #fff
}
.wwd a:hover{
    text-decoration: underline;
}
.wwd{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wwd-title{
    grid-area: 1/1/2/3;
}
.wwd-kitchen-img{
    grid-area: 2/1/2/3;
}
.wwd-kitchen-a{
    grid-area: 3/1/4/2;
    margin: 0 4rem;
}
.wwd-bathroom-img{
    grid-area: 2/2/3/3;
}
.wwd-bathroom-a{
    grid-area: 3/2/4/3;
    margin: 0 3.5rem;
}
.wwd-basement-img{
    grid-area: 4/1/5/2;
}
.wwd-basement-a{
    grid-area: 5/1/6/2;
    margin: 0 3.5rem;
}
.wwd-addition-img{
    grid-area: 4/2/5/3;
}
.wwd-addition-a{
    grid-area: 5/2/6/3;
    margin: 0 4rem;
}
.wwd-custom-img{
    grid-area: 6/1/7/3;
}
.wwd-custom-a{
    grid-area: 7/1/8/3;
    margin: 0 9rem;
}
.wwd img{
    justify-self: center;
    align-self: center;
}
.check-out{
    background-color: #fff;
    font-family: 'Lato';
    background-image: url(Images/check-out-portfolio-photo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 100%;
}